[build]
  publish = "."

[[redirects]]
  from = "/"
  to = "/ticketing_plan.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"